#@see lombok.ConfigurationKeys
lombok.addLombokGeneratedAnnotation = false
lombok.anyConstructor.addConstructorProperties = true
lombok.nonNull.exceptionType=IllegalArgumentException
# disable: full-qualified-names is too long
#lombok.addNullAnnotations=jetbrains
lombok.equalsAndHashCode.callSuper=call
lombok.toString.callSuper=call
lombok.fieldDefaults.defaultPrivate=true